@import 'mixins';

body {
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 50px;
  }
.jumbotron {
    background-image: url('http://via.placeholder.com/600x600');
    background-position: center;
    background-size: cover;
    min-height: 375px;
    position: relative;
    padding: 0;
    animation: fadeinLoad 0.2s;

    display: flex;
    align-items: center;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.3);
    }

    .container {
        z-index: 1;
    }
}

.grid {
    .card {
        margin-bottom: 40px;
        box-shadow: 0px 0.5px 5px rgba($color: #000000, $alpha: .3);
        border: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        animation: fadeinLoad 0.2s;

        &:hover {
            box-shadow: 0px 0.5px 10px rgba($color: #000000, $alpha: .3);
        }

        .card-header {
            border-bottom: 0;
            background-color: transparent;
            padding: 1.25rem;
            position: relative;

            img {
                border-radius: 10px;
                position: relative;
                z-index: 1;
                animation: fadeinLoad 0.5s;
            }
        }

        .btn {
            font-weight: bold;
            text-transform: uppercase;
            border-width: 2px;
        }
    }
}


@media (min-width: 768px) {
    .jumbotron {
        background-image: url('http://via.placeholder.com/1920x650');
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh;

        .title {
            font-size: 75px;
        }
        .sub-title {
            font-size: 36px;
        }
    }

    .grid {
        .card {
            height: 100%;
        }
    }
}